{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "plugin:vue/base"
    ],
    "plugins": [
        "vuetify"
    ],
    "rules": {
        "vuetify/no-deprecated-classes": "error",
        "vuetify/grid-unknown-attributes": "error",
        "vuetify/no-legacy-grid": "error"
    }
}
